body {
    padding: 0;
    margin: 0;
    background:#B1464A;
    text-decoration: none;
    font-family: Poppins;
    color: white;
}

ul li {
    display: block;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Playfair;
}


header {
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
}
.h1-header {
    color: white;
    font-family: Poppins;
    font-style: 35px;
    margin-right: 500px;
}
a {
    text-decoration: none;
    color: white;
    margin-right: 50px;
}
.ul-header {
    margin-top: 35px;
    display: flex;
}

.ul-container {
    display: flex;
}

.header-menu {
    color: white;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.3s;
}

.header-menu:hover {
    text-decoration: underline;
}

.header-menu- {
    color: white;
    text-decoration: underline;
}

.tel {
    margin-top: 35px;
    margin-bottom: 35px;
}

.header-tel {
    display: flex;
    margin-left: 250px;
}

.img-2 {
    display: block;
    background: white;
    width: 20px;
    height: 20px;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    transition-property: all;
    transition-duration: 0.3s;
}
.img-2:hover {
    background: rgb(136, 136, 136);
}
.main {
    padding-left: 120px;
    padding-right: 120px;
}

.img-in-main {
    margin-left: 400px;
    text-align: center;
}

.h1-main {
    font-family: Playfair;
    font-weight: 800;
    font-size: 120px;
}
.text-in-main {
    margin-top: 120px;
}

.h1-chips {
    font-size: 45px;
}

.h3-chips {
    font-size: 35px;
}

.p-chips {
    font-size: 20px;
    background: transparent;
}

.product-main {
    align-items: center;
    margin-top: 50px;
}

.ul-product {
    display: flex;
    flex-wrap: wrap;
}

.ul-product1 {
    display: flex;
    flex-wrap: wrap;
}

.ul-product2 {
    display: flex;
    flex-wrap: wrap;
}

.product-container {
    display: block;
    padding: 10px;
}

.img-chips {
    width: 300px;
    height: 360px;
    padding: 25px;
    border: 2px solid white;
    border-radius: 10px;
    margin-right: 46px;
    margin-bottom: 50px;
    background: rgb(121, 41, 41);
    transition-property: all;
    transition-duration: 0.3s;
}

.img-chips1 {
    width: 300px;
    height: 360px;
    padding: 25px;
    border: 2px solid white;
    border-radius: 10px;
    margin-right: 46px;
    margin-bottom: 50px;
    background: url(/img/ru.png);
    background-repeat: no-repeat;
    background-color: rgb(121, 41, 41);
    background-size: 320px;
    background-position: center;
    transition-property: all;
    transition-duration: 0.3s;
}

.img-chips1:hover {
    padding: 100px;
    width: 500px;
    background: url(/img/text1.png);
    background-position: center;
    background-color: rgb(121, 41, 41);
    background-repeat: no-repeat;
    background-size: 85%;
}

.img-chips2 {
    width: 300px;
    height: 360px;
    padding: 25px;
    border: 2px solid white;
    border-radius: 10px;
    margin-right: 46px;
    margin-bottom: 50px;
    background: url(/img/ru2.png);
    background-repeat: no-repeat;
    background-color: rgb(121, 41, 41);
    background-size: 320px;
    background-position: center;
    transition-property: all;
    transition-duration: 0.3s;
}

.img-chips2:hover {
    padding: 100px;
    width: 500px;
    background: url(/img/text2.png);
    background-position: center;
    background-color: rgb(121, 41, 41);
    background-repeat: no-repeat;
    background-size: 95%;
}

.img-chips3 {
    width: 300px;
    height: 360px;
    padding: 25px;
    border: 2px solid white;
    border-radius: 10px;
    margin-right: 46px;
    margin-bottom: 50px;
    background: url(/img/ru3.png);
    background-repeat: no-repeat;
    background-color: rgb(121, 41, 41);
    background-size: 320px;
    background-position: center;
    transition-property: all;
    transition-duration: 0.3s;
}

.img-chips3:hover {
    padding: 100px;
    width: 500px;
    background: url(/img/text3.png);
    background-position: center;
    background-color: rgb(121, 41, 41);
    background-repeat: no-repeat;
    background-size: 95%;
}

.img-chips4 {
    width: 300px;
    height: 360px;
    padding: 25px;
    border: 2px solid white;
    border-radius: 10px;
    margin-right: 46px;
    margin-bottom: 50px;
    background: url(/img/ru5.png);
    background-repeat: no-repeat;
    background-color: rgb(121, 41, 41);
    background-size: 320px;
    background-position: center;
    transition-property: all;
    transition-duration: 0.3s;
}

.img-chips4:hover {
    padding: 100px;
    width: 500px;
    background: url(/img/text4.png);
    background-position: center;
    background-color: rgb(121, 41, 41);
    background-repeat: no-repeat;
    background-size: 95%;
}

.img-chips5 {
    width: 300px;
    height: 360px;
    padding: 25px;
    border: 2px solid white;
    border-radius: 10px;
    margin-right: 46px;
    margin-bottom: 50px;
    background: url(/img/ru4.png);
    background-repeat: no-repeat;
    background-color: rgb(121, 41, 41);
    background-size: 400px;
    background-position: center;
    transition-property: all;
    transition-duration: 0.3s;
}

.img-chips5:hover {
    padding: 100px;
    width: 500px;
    background: url(/img/text5.png);
    background-position: center;
    background-color: rgb(121, 41, 41);
    background-repeat: no-repeat;
    background-size: 95%;
}

.text-chips{
    display: block;
    background: rgb(121, 41, 41);
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px;
    width: 850PX;
    transition-property: all;
    transition-duration: 0.3s;
}

.img-chips:hover {
    padding: 20px;
}

.text-content {
    width: 700px;
}

.img-text-chips {
    display: flex;
    margin-bottom: 10px;
}

.product-main {
    align-items: center;
}

.chips {
    margin-left: 430px;
}

.chips1 {
    margin-left: 440px;
}

.chips2 {
    margin-left: 640px;
}